<!-- <div class="">
  <div id="formContent"> -->
    <!-- Tabs Titles -->

    <!-- Icon -->


    <!-- Login Form -->
    <!-- <form [formGroup]="basicForm" class="form-css p-4" (ngSubmit)="signup()" novalidate>

      <div class="row">
        <div class="col-md-6">
            <div class="form-group" style="display:none;">
              <input type="text" class="form-control"  id="id" aria-describedby="id"
                formControlName="id">
              <div *ngIf="basicForm.controls['id'].invalid && (basicForm.controls['id'].dirty ||
                basicForm.controls['id'].touched || submitted)" class="error-msg">
                <div *ngIf="basicForm.controls['id'].errors.required">
                  Required Field
                </div>
              </div>
            </div>
          <div class="form-group">
            <label for="hospital_name">Hospital Name</label>
            <input type="email" class="form-control" readonly id="hospital_name" aria-describedby="hospital_name"
              placeholder="Hospital Name" formControlName="hospital_name">
            <div *ngIf="basicForm.controls['hospital_name'].invalid && (basicForm.controls['hospital_name'].dirty ||
              basicForm.controls['hospital_name'].touched || submitted)" class="error-msg">
              <div *ngIf="basicForm.controls['hospital_name'].errors.required">
                Required Field
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="hospital_branch_name">Hospital Branch Name</label>
            <input type="text" class="form-control" readonly id="hospital_branch_name"
              placeholder="Hospital Branch Name" formControlName="hospital_branch_name">
            <div *ngIf="basicForm.controls['hospital_branch_name'].invalid &&
              (basicForm.controls['hospital_branch_name'].dirty || basicForm.controls['hospital_branch_name'].touched ||
              submitted)" class="error-msg">
              <div *ngIf="basicForm.controls['hospital_branch_name'].errors.required">
                Required Field
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Baby Medical Record Number</label>
            <input type="text" class="form-control" id="baby_medical_record_number" placeholder=""
              formControlName="baby_medical_record_number">
            <div *ngIf="basicForm.controls['baby_medical_record_number'].invalid &&
              (basicForm.controls['baby_medical_record_number'].dirty ||
              basicForm.controls['baby_medical_record_number'].touched || submitted)" class="error-msg">
              <div class="error-msg" *ngIf="basicForm.controls['baby_medical_record_number'].errors.required">
                Required Field
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Baby Mother Medical Record Number</label>
            <input type="text" class="form-control" id="baby_mother_medical_record_number" placeholder=""
              formControlName="baby_mother_medical_record_number">
            <div *ngIf="basicForm.controls['baby_mother_medical_record_number'].invalid &&
              (basicForm.controls['baby_mother_medical_record_number'].dirty ||
              basicForm.controls['baby_mother_medical_record_number'].touched || submitted)" class="error-msg">
              <div class="error-msg" *ngIf="basicForm.controls['baby_mother_medical_record_number'].errors.required">
                Required Field
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 btn_save_div">
          <button type="submit" class="btn btn-primary btn_save_baby">Save</button> -->
          <!-- <button type="reset" (click)="reset()" class="btn btn-danger ml-2">Cancel</button> -->
        <!-- </div>
      </div>


    </form>

  </div>
</div> -->
