<div class="forgot-screen">
  <!-- As a link -->
  <nav class="navbar shadow-sm bg-white p-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a class="navbar-brand" href="#">
            <img src="assets/svgs/avyantra-logo.svg" alt="avyantra" class="w-75 py-2">
          </a>
        </div>
      </div>
    </div>
  </nav>

  <!--  Form-->
  <div class="form-wrapper">
    <div class="container my-5">
      <div  class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="card-pocket card py-5 rounded-0">
            <div class="presco text-center p-3">
              <h1 class="text-orange logo-type">PreSco</h1>
              <h5 class="text-grey-300"> Neonatal Sepsis Prediction Platform </h5>
            </div>

            <form [formGroup]="forgetWithPasswordForm" (ngSubmit)="resetPassword()" novalidate>
              <div class="forgot-form w-75 mx-auto">
                <div class="form-group position-relative">
                  <span class="position-absolute input-icon"><img class="form-img" src="assets/svgs/user-icon.svg" alt=""></span>
                  <input type="password" autocomplete="off" id="password" class="form-control" formControlName="password"
                    name="login" placeholder="Password" (keyup)="is_match()">
                    <div *ngIf="forgetWithPasswordForm.controls['password'].invalid && (forgetWithPasswordForm.controls['password'].dirty ||
                    forgetWithPasswordForm.controls['password'].touched || submitted)"
                      class="error-msg text-left">
                      <div *ngIf="forgetWithPasswordForm.controls['password'].errors.required">
                        Required Field.
                      </div>
                      <div *ngIf="forgetWithPasswordForm.controls['password'].hasError('minlength') && forgetWithPasswordForm.controls['password'].touched">
                        password should be more then 6 character.</div>
  
                    </div>
                </div>
                <div class="form-group position-relative">
                  <span class="position-absolute input-icon"><img class="form-img" src="assets/svgs/user-icon.svg" alt=""></span>
                  <input type="password" autocomplete="off" id="confirmPass" class="form-control" formControlName="confirmPass"
                    placeholder="Confirm Password" (keyup)="is_match()">
                    <div *ngIf="is_match()" class="error-msg">
                      Please enter the same password as above
                    </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send"
                    [disabled]="forgetWithPasswordForm.invalid || is_match() == true">
                </div>
              </div>
            </form>
          </div>
          <img src="assets/svgs/card-curve.svg" alt="" class="img-fluid curve-white">
          <img src="assets/svgs/card-curve-shadow.svg" alt="" class="img-fluid curve-shadow">
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-white text-center p-2">
    <small class="text-grey-200"> Copyright © 2019-2020 Avyantra Health Technologies. All Rights Reserved</small>
</footer>

</div>