<div class="container-fluid">

  <!-- Page Heading -->
  <div class="mt-160">
    <div class="d-sm-flex1 align-items-center justify-content-between mb-4">
      <h4 class="h4 mb-0 text-gray-800 d-none"> <i class="fas fa-fw fa-user-md text-primary mr-2"></i>Referral Doctor
      </h4>
      <button class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm" (click)="switchTab('hospital-staff')"><i
          class="fas fa-users fa-sm text-gray-600"></i> Hospital Staff</button>
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        (click)="switchTab('referral-doctor-staff')"><i class="fas fa-user-md fa-sm text-white-50"></i> Referral
        Doctor</button>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row">
            <div class="col-sm-8">
              <h6 class="m-0 font-weight-bold text-primary">Referral Doctor Details</h6>
            </div>
            <div class="col-sm-4 text-right">
              <button *ngIf="user_type!=='Hospital'" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" (click)="open(content, {})"
                data-toggle="modal" data-target="#add-doctor"><i class="fas fa-plus fa-sm text-white-50"></i>
                Add</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="dataTable_length">
                    <label>
                      Show entries
                      <select name="dataTable_length" aria-controls="dataTable"
                        class="custom-select custom-select-sm form-control form-control-sm"
                        [(ngModel)]="pageLength"
                        (change)="onDropDownChange(pageLength)">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>

                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                        class="form-control form-control-sm" placeholder="" aria-controls="dataTable" (keyup)="searchReferralDoctors()" [(ngModel)]="searchText"></label></div>
                </div>
              </div>
              <div *ngIf="user_type!='Hospital'" class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                    aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-sort="ascending" aria-label="">ID</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Speciality</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Contact</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Email</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Action</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="referralDoctors?.length > 0">
                      <tr *ngFor="let list of referralDoctors| paginate: {class:'pageItem', itemsPerPage: pageLength, currentPage: page,totalItems: totalCount };let i=index; let odd=odd; let even=even;"
                      [ngClass]="{ odd: odd, even: even }">
                        <td>{{(page-1) *pageLength +(i+1)}}</td>
                        <td>{{list.first_name}}&nbsp;{{list.last_name}}</td>
                        <td>{{list.speciality}}</td>
                        <td>{{list.contact_number}}</td>
                        <td>{{list.email_address}}</td>
                        <td class="text-right">
                            <button *ngIf="list.hospital_action_status == 'Pending Initiation'" (click)="updateUnregisteredDoctorStatus(list)" class="btn-warning d-sm-inline-block btn btn-sm shadow-sm mr-2">{{list.hospital_action_status}}</button>
                            <button *ngIf="list.hospital_action_status == 'Accept Initiation'" class="btn-info d-sm-inline-block btn btn-sm shadow-sm mr-2">{{list.hospital_action_status}}</button>
                            <button *ngIf="list.hospital_action_status == 'Request Initiation'" class="btn-primary d-sm-inline-block btn btn-sm shadow-sm mr-2">{{list.hospital_action_status}}</button>
                            <button *ngIf="list.hospital_action_status == 'Active'" class="btn-success d-sm-inline-block btn btn-sm shadow-sm mr-2">{{list.hospital_action_status}}</button>
                          <button class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm" (click)="openDetail(contentDetail, list)">View</button>
                        </td>
                      </tr>
                      
                    </tbody>
                    <tbody *ngIf="referralDoctors?.length==0">
                      <tr>
                        <td colspan="12">No Records Found !!! </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div *ngIf="user_type=='Hospital'" class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                    aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-sort="ascending" aria-label="">ID</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Speciality</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Contact</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Email</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                          aria-label="">Action</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="referralDoctors?.length > 0">
                      <tr *ngFor="let list of referralDoctors| paginate: {class:'pageItem', itemsPerPage: pageLength, currentPage: page,totalItems: totalCount };let i=index; let odd=odd; let even=even;"
                      [ngClass]="{ odd: odd, even: even }">
                        <td>{{(page-1) *pageLength +(i+1)}}</td>
                        <td>{{list.first_name}}&nbsp;{{list.last_name}}</td>
                        <td>{{list.speciality}}</td>
                        <td>{{list.contact_number}}</td>
                        <td>{{list.email_address}}</td>
                        <td class="text-right">
                            <button *ngIf="list.hospital_initiation_status == 'Pending Initiation'"  class="btn-warning d-sm-inline-block btn btn-sm shadow-sm mr-2">{{list.hospital_initiation_status}}</button>
                            <button *ngIf="list.hospital_initiation_status == 'Accept Initiation'" (click)="updateStatus(list)" class="btn-info d-sm-inline-block btn btn-sm shadow-sm mr-2">{{list.hospital_initiation_status}}</button>
                            <button *ngIf="list.hospital_initiation_status == 'Request Initiation'" (click)="updateStatus(list)" class="btn-primary d-sm-inline-block btn btn-sm shadow-sm mr-2">{{list.hospital_initiation_status}}</button>
                            <button *ngIf="list.hospital_initiation_status == 'Active'" class="btn-success d-sm-inline-block btn btn-sm shadow-sm mr-2">{{list.hospital_initiation_status}}</button>
                          <button class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm" (click)="openDetail(contentDetail, list)">View</button>
                        </td>
                      </tr>
                      
                    </tbody>
                    <tbody *ngIf="referralDoctors?.length==0">
                      <tr>
                        <td colspan="12">No Records Found !!! </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row mt-3">
                  <div class="col-sm-12 col-md-5">
                    <!-- <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing
                      {{referralDoctors?.length}} to {{referralDoctors?.length}} of
                      {{totalCount}} entries</div> -->
                  </div>
                  <pagination-controls (pageChange)="nextPage($event)" *ngIf="referralDoctors?.length > 0" directionLinks="true" autoHide="true"
                    responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                  </pagination-controls>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <form [formGroup]="addReferralForm" (ngSubmit)="f.form.valid && onReferralSubmit()" #f="ngForm" novalidate novalidate>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Referral Doctor</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="d('Cross click');close()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">First Name&nbsp;<span class="text-danger">*</span></label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <input type="text" name="" class="form-control" formControlName="firstName" [patterns]="namePatters"
                  [dropSpecialCharacters]="false" mask="S*" autocomplete="doNotAutoComplete"
                  >
                <div
                  *ngIf="addReferralForm.controls['firstName'].invalid && (addReferralForm.controls['firstName'].dirty || addReferralForm.controls['firstName'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls['firstName'].errors.required">
                    This field is required.
                  </div>
                  <div *ngIf="addReferralForm.controls.firstName.errors.maxlength">
                    First name can have only 15 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">Last Name&nbsp;<span class="text-danger">*</span></label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <input type="text" class="form-control" formControlName="lastName" [patterns]="namePatters"
                  [dropSpecialCharacters]="false" mask="S*" autocomplete="doNotAutoComplete">
                <div
                  *ngIf="addReferralForm.controls['lastName'].invalid && (addReferralForm.controls['lastName'].dirty || addReferralForm.controls['lastName'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls['lastName'].errors.required">
                    This field is required.
                  </div>
                  <div *ngIf="addReferralForm.controls.lastName.errors.maxlength">
                    Last name can have only 15 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">Speciality&nbsp;<span class="text-danger">*</span></label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <select class="form-control" formControlName="speciality">
									<option *ngFor="let list of specialities"
										[value]="list.hospital_branch_speciality_id">
										{{list.speciality}}</option>
								</select>
                <div
                  *ngIf="addReferralForm.controls['speciality'].invalid && (addReferralForm.controls['speciality'].dirty || addReferralForm.controls['speciality'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls['speciality'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">Contact Number&nbsp;<span class="text-danger">*</span></label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <input type="text" class="form-control" formControlName="contactNumber" mask="0000000000" autocomplete="doNotAutoComplete">
                <div
                  *ngIf="addReferralForm.controls['contactNumber'].invalid && (addReferralForm.controls['contactNumber'].dirty || addReferralForm.controls['contactNumber'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls['contactNumber'].errors.required">
                    This field is required.
                  </div>
                  <div *ngIf="addReferralForm.controls.contactNumber.errors.minlength">
                    Contact number should be 10 digits
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">Email ID&nbsp;<span class="text-danger">*</span></label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <input type="text" class="form-control" formControlName="email" autocomplete="doNotAutoComplete">
                <div
                  *ngIf="addReferralForm.controls['email'].invalid && (addReferralForm.controls['email'].dirty || addReferralForm.controls['email'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls['email'].errors.required">
                    This field is required.
                  </div>
                  <div
                    *ngIf="addReferralForm.controls.email.errors.email || addReferralForm.controls.email.errors.pattern">
                    Invalid email address
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">Address&nbsp;<span class="text-danger">*</span></label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <input type="text" class="form-control" [patterns]="customPatterns" formControlName="address" mask="S*" autocomplete="doNotAutoComplete">
                <div
                  *ngIf="addReferralForm.controls['address'].invalid && (addReferralForm.controls['address'].dirty || addReferralForm.controls['address'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls['address'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">City&nbsp;<span class="text-danger">*</span></label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <input type="text" class="form-control" [patterns]="namePatters" formControlName="city" mask="S*" autocomplete="doNotAutoComplete">
                <div
                  *ngIf="addReferralForm.controls['city'].invalid && (addReferralForm.controls['city'].dirty || addReferralForm.controls['city'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls['city'].errors.required">
                    This field is required.
                  </div>
                  <div *ngIf="addReferralForm.controls.city.errors.maxlength">
                    City should not be more than 32 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">State&nbsp;<span class="text-danger">*</span></label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <input type="text" class="form-control" [patterns]="namePatters" formControlName="state" mask="S*" autocomplete="doNotAutoComplete">
                <div
                  *ngIf="addReferralForm.controls['state'].invalid && (addReferralForm.controls['state'].dirty || addReferralForm.controls['state'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls['state'].errors.required">
                    This field is required.
                  </div>
                  <div *ngIf="addReferralForm.controls.state.errors.maxlength">
                    State should not be more than 32 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-error has-danger ">
              <label for="" class="text-bold text-gray-900">Pincode</label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-error has-danger ">
              <div>
                <input type="text" class="form-control" formControlName="pincode" mask="000000" autocomplete="doNotAutoComplete">
                <div
                  *ngIf="addReferralForm.controls['pincode'].invalid && (addReferralForm.controls['pincode'].dirty || addReferralForm.controls['pincode'].touched)"
                  class="error-msg">
                  <div *ngIf="addReferralForm.controls.pincode.errors.minlength">
                    Minimum 6 digits required
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="d('Cross click');close()" [disabled]="disableButton">Cancel</button>
        <button class="btn btn-primary" data-dismiss="modal" [disabled]="addReferralForm.invalid" [disabled]="disableButton">Add Doctor</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #contentDetail let-c="close" let-d="dismiss">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Referral Doctor</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="d('Cross click');closeDetail()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">First Name&nbsp;<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.first_name}}</div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">Last Name&nbsp;<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.last_name}}</div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">Speciality&nbsp;<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.speciality}}</div>
                </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">Contact Number&nbsp;<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.contact_number}}</div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">Email ID&nbsp;<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.email_address}}</div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">Address&nbsp;<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.address}}</div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">City&nbsp;<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.city}}</div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">State&nbsp;<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.state}}</div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-error has-danger ">
                <label for="" class="text-bold text-gray-900">Pincode</label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group has-error has-danger ">
                  <div>{{referralDoctorRecordsObj.pincode | emptyDataPipe}}</div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="d('Cross click');closeDetail()">Cancel</button>
        </div>
      </div>
  </ng-template>